openapi: 3.1.0
info:
  description: |-
    The PaymentFlow payments API. This document describes the public `/v1` surface — the endpoints PaymentFlow versions, deprecates on a published timeline, and supports for integrators. Endpoints not described here are internal and carry no compatibility promise.

    Amounts are integers in the currency's minor unit (`amountMinor`): `1000` in `USD` is $10.00. There are no floating-point amounts anywhere in this API.

    Every mutating request accepts an `Idempotency-Key` header and every list is cursor-paginated; both are described on the operations that use them.
  license:
    name: Proprietary
  title: PaymentFlow API
  version: 2026-08-01
servers:
- url: https://api.paymentflow.dev
  description: PaymentFlow API
security:
- SecretKey: []
paths:
  /v1/analytics/payments:
    get:
      operationId: payments
      parameters:
      - in: query
        name: from
        required: false
        schema:
          type: string
          format: date-time
      - in: query
        name: to
        required: false
        schema:
          type: string
          format: date-time
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnalyticsSummaryResponse"
          description: OK
        "401":
          content:
            application/json:
              example:
                code: UNAUTHORIZED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#unauthorized
                message: Authentication is required or has failed.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 401
                timestamp: 2026-07-28T12:34:56.789Z
                type: authentication_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Authentication is required or has failed.
        "403":
          content:
            application/json:
              example:
                code: INSUFFICIENT_SCOPE
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#insufficient_scope
                message: This API key does not have the required scope for this endpoint.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 403
                timestamp: 2026-07-28T12:34:56.789Z
                type: permission_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: This API key does not have the required scope for this endpoint.
        "429":
          content:
            application/json:
              example:
                code: RATE_LIMIT_EXCEEDED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#rate_limit_exceeded
                message: Too many requests. Slow down and retry after the interval in the Retry-After header.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 429
                timestamp: 2026-07-28T12:34:56.789Z
                type: rate_limit_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Too many requests. Slow down and retry after the interval in the Retry-After header.
        "500":
          content:
            application/json:
              example:
                code: INTERNAL_ERROR
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#internal_error
                message: An unexpected error occurred.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 500
                timestamp: 2026-07-28T12:34:56.789Z
                type: api_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: An unexpected error occurred.
      tags:
      - Analytics
  /v1/balance:
    get:
      operationId: balance
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BalanceResponse"
          description: OK
        "401":
          content:
            application/json:
              example:
                code: UNAUTHORIZED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#unauthorized
                message: Authentication is required or has failed.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 401
                timestamp: 2026-07-28T12:34:56.789Z
                type: authentication_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Authentication is required or has failed.
        "403":
          content:
            application/json:
              example:
                code: INSUFFICIENT_SCOPE
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#insufficient_scope
                message: This API key does not have the required scope for this endpoint.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 403
                timestamp: 2026-07-28T12:34:56.789Z
                type: permission_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: This API key does not have the required scope for this endpoint.
        "429":
          content:
            application/json:
              example:
                code: RATE_LIMIT_EXCEEDED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#rate_limit_exceeded
                message: Too many requests. Slow down and retry after the interval in the Retry-After header.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 429
                timestamp: 2026-07-28T12:34:56.789Z
                type: rate_limit_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Too many requests. Slow down and retry after the interval in the Retry-After header.
        "500":
          content:
            application/json:
              example:
                code: INTERNAL_ERROR
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#internal_error
                message: An unexpected error occurred.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 500
                timestamp: 2026-07-28T12:34:56.789Z
                type: api_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: An unexpected error occurred.
      tags:
      - Balance
  /v1/balance_transactions:
    get:
      operationId: balanceTransactions
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: integer
          format: int32
      - in: query
        name: starting_after
        required: false
        schema:
          type: string
      - in: query
        name: created_after
        required: false
        schema:
          type: string
          format: date-time
      - in: query
        name: created_before
        required: false
        schema:
          type: string
          format: date-time
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CursorPageBalanceTransactionResponse"
          description: OK
        "401":
          content:
            application/json:
              example:
                code: UNAUTHORIZED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#unauthorized
                message: Authentication is required or has failed.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 401
                timestamp: 2026-07-28T12:34:56.789Z
                type: authentication_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Authentication is required or has failed.
        "403":
          content:
            application/json:
              example:
                code: INSUFFICIENT_SCOPE
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#insufficient_scope
                message: This API key does not have the required scope for this endpoint.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 403
                timestamp: 2026-07-28T12:34:56.789Z
                type: permission_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: This API key does not have the required scope for this endpoint.
        "429":
          content:
            application/json:
              example:
                code: RATE_LIMIT_EXCEEDED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#rate_limit_exceeded
                message: Too many requests. Slow down and retry after the interval in the Retry-After header.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 429
                timestamp: 2026-07-28T12:34:56.789Z
                type: rate_limit_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Too many requests. Slow down and retry after the interval in the Retry-After header.
        "500":
          content:
            application/json:
              example:
                code: INTERNAL_ERROR
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#internal_error
                message: An unexpected error occurred.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 500
                timestamp: 2026-07-28T12:34:56.789Z
                type: api_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: An unexpected error occurred.
      tags:
      - Balance transactions
  /v1/events:
    get:
      operationId: list
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: integer
          format: int32
      - in: query
        name: starting_after
        required: false
        schema:
          type: string
      - in: query
        name: type
        required: false
        schema:
          type: string
      - in: query
        name: created_after
        required: false
        schema:
          type: string
          format: date-time
      - in: query
        name: created_before
        required: false
        schema:
          type: string
          format: date-time
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CursorPageEventResponse"
          description: OK
        "401":
          content:
            application/json:
              example:
                code: UNAUTHORIZED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#unauthorized
                message: Authentication is required or has failed.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 401
                timestamp: 2026-07-28T12:34:56.789Z
                type: authentication_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Authentication is required or has failed.
        "403":
          content:
            application/json:
              example:
                code: INSUFFICIENT_SCOPE
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#insufficient_scope
                message: This API key does not have the required scope for this endpoint.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 403
                timestamp: 2026-07-28T12:34:56.789Z
                type: permission_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: This API key does not have the required scope for this endpoint.
        "429":
          content:
            application/json:
              example:
                code: RATE_LIMIT_EXCEEDED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#rate_limit_exceeded
                message: Too many requests. Slow down and retry after the interval in the Retry-After header.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 429
                timestamp: 2026-07-28T12:34:56.789Z
                type: rate_limit_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Too many requests. Slow down and retry after the interval in the Retry-After header.
        "500":
          content:
            application/json:
              example:
                code: INTERNAL_ERROR
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#internal_error
                message: An unexpected error occurred.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 500
                timestamp: 2026-07-28T12:34:56.789Z
                type: api_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: An unexpected error occurred.
      tags:
      - Events
  /v1/events/{id}:
    get:
      operationId: get
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventResponse"
          description: OK
        "401":
          content:
            application/json:
              example:
                code: UNAUTHORIZED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#unauthorized
                message: Authentication is required or has failed.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 401
                timestamp: 2026-07-28T12:34:56.789Z
                type: authentication_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Authentication is required or has failed.
        "403":
          content:
            application/json:
              example:
                code: INSUFFICIENT_SCOPE
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#insufficient_scope
                message: This API key does not have the required scope for this endpoint.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 403
                timestamp: 2026-07-28T12:34:56.789Z
                type: permission_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: This API key does not have the required scope for this endpoint.
        "429":
          content:
            application/json:
              example:
                code: RATE_LIMIT_EXCEEDED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#rate_limit_exceeded
                message: Too many requests. Slow down and retry after the interval in the Retry-After header.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 429
                timestamp: 2026-07-28T12:34:56.789Z
                type: rate_limit_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Too many requests. Slow down and retry after the interval in the Retry-After header.
        "500":
          content:
            application/json:
              example:
                code: INTERNAL_ERROR
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#internal_error
                message: An unexpected error occurred.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 500
                timestamp: 2026-07-28T12:34:56.789Z
                type: api_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: An unexpected error occurred.
      tags:
      - Events
  /v1/payments:
    get:
      operationId: listPayments
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: integer
          format: int32
      - in: query
        name: starting_after
        required: false
        schema:
          type: string
      - in: query
        name: status
        required: false
        schema:
          type: string
      - in: query
        name: currency
        required: false
        schema:
          type: string
      - in: query
        name: amount_min
        required: false
        schema:
          type: integer
          format: int64
      - in: query
        name: amount_max
        required: false
        schema:
          type: integer
          format: int64
      - in: query
        name: created_after
        required: false
        schema:
          type: string
          format: date-time
      - in: query
        name: created_before
        required: false
        schema:
          type: string
          format: date-time
      - in: query
        name: expand
        required: false
        schema:
          type: string
      - description: "Filter by metadata, spelled `metadata[key]=value` and repeatable. Matching is containment and every named key must match: `?metadata[orderId]=A-1234&metadata[channel]=web` returns only objects carrying both. A key nothing carries selects nothing rather than everything."
        explode: true
        in: query
        name: metadata
        schema:
          type: object
          additionalProperties: true
        style: deepObject
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CursorPagePaymentResponse"
          description: OK
        "401":
          content:
            application/json:
              example:
                code: UNAUTHORIZED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#unauthorized
                message: Authentication is required or has failed.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 401
                timestamp: 2026-07-28T12:34:56.789Z
                type: authentication_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Authentication is required or has failed.
        "403":
          content:
            application/json:
              example:
                code: INSUFFICIENT_SCOPE
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#insufficient_scope
                message: This API key does not have the required scope for this endpoint.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 403
                timestamp: 2026-07-28T12:34:56.789Z
                type: permission_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: This API key does not have the required scope for this endpoint.
        "429":
          content:
            application/json:
              example:
                code: RATE_LIMIT_EXCEEDED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#rate_limit_exceeded
                message: Too many requests. Slow down and retry after the interval in the Retry-After header.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 429
                timestamp: 2026-07-28T12:34:56.789Z
                type: rate_limit_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Too many requests. Slow down and retry after the interval in the Retry-After header.
        "500":
          content:
            application/json:
              example:
                code: INTERNAL_ERROR
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#internal_error
                message: An unexpected error occurred.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 500
                timestamp: 2026-07-28T12:34:56.789Z
                type: api_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: An unexpected error occurred.
      tags:
      - Payments
    post:
      operationId: create
      parameters:
      - in: header
        name: Idempotency-Key
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePaymentRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentResponse"
          description: Created
        "401":
          content:
            application/json:
              example:
                code: UNAUTHORIZED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#unauthorized
                message: Authentication is required or has failed.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 401
                timestamp: 2026-07-28T12:34:56.789Z
                type: authentication_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Authentication is required or has failed.
        "403":
          content:
            application/json:
              example:
                code: INSUFFICIENT_SCOPE
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#insufficient_scope
                message: This API key does not have the required scope for this endpoint.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 403
                timestamp: 2026-07-28T12:34:56.789Z
                type: permission_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: This API key does not have the required scope for this endpoint.
        "429":
          content:
            application/json:
              example:
                code: RATE_LIMIT_EXCEEDED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#rate_limit_exceeded
                message: Too many requests. Slow down and retry after the interval in the Retry-After header.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 429
                timestamp: 2026-07-28T12:34:56.789Z
                type: rate_limit_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Too many requests. Slow down and retry after the interval in the Retry-After header.
        "500":
          content:
            application/json:
              example:
                code: INTERNAL_ERROR
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#internal_error
                message: An unexpected error occurred.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 500
                timestamp: 2026-07-28T12:34:56.789Z
                type: api_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: An unexpected error occurred.
      tags:
      - Payments
  /v1/payments/{id}:
    get:
      operationId: getPayment
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
      - in: query
        name: expand
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentResponse"
          description: OK
        "401":
          content:
            application/json:
              example:
                code: UNAUTHORIZED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#unauthorized
                message: Authentication is required or has failed.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 401
                timestamp: 2026-07-28T12:34:56.789Z
                type: authentication_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Authentication is required or has failed.
        "403":
          content:
            application/json:
              example:
                code: INSUFFICIENT_SCOPE
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#insufficient_scope
                message: This API key does not have the required scope for this endpoint.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 403
                timestamp: 2026-07-28T12:34:56.789Z
                type: permission_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: This API key does not have the required scope for this endpoint.
        "429":
          content:
            application/json:
              example:
                code: RATE_LIMIT_EXCEEDED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#rate_limit_exceeded
                message: Too many requests. Slow down and retry after the interval in the Retry-After header.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 429
                timestamp: 2026-07-28T12:34:56.789Z
                type: rate_limit_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Too many requests. Slow down and retry after the interval in the Retry-After header.
        "500":
          content:
            application/json:
              example:
                code: INTERNAL_ERROR
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#internal_error
                message: An unexpected error occurred.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 500
                timestamp: 2026-07-28T12:34:56.789Z
                type: api_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: An unexpected error occurred.
      tags:
      - Payments
  /v1/payments/{id}/authorize:
    post:
      operationId: authorize
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
      - in: header
        name: Idempotency-Key
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentResponse"
          description: OK
        "401":
          content:
            application/json:
              example:
                code: UNAUTHORIZED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#unauthorized
                message: Authentication is required or has failed.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 401
                timestamp: 2026-07-28T12:34:56.789Z
                type: authentication_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Authentication is required or has failed.
        "403":
          content:
            application/json:
              example:
                code: INSUFFICIENT_SCOPE
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#insufficient_scope
                message: This API key does not have the required scope for this endpoint.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 403
                timestamp: 2026-07-28T12:34:56.789Z
                type: permission_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: This API key does not have the required scope for this endpoint.
        "429":
          content:
            application/json:
              example:
                code: RATE_LIMIT_EXCEEDED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#rate_limit_exceeded
                message: Too many requests. Slow down and retry after the interval in the Retry-After header.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 429
                timestamp: 2026-07-28T12:34:56.789Z
                type: rate_limit_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Too many requests. Slow down and retry after the interval in the Retry-After header.
        "500":
          content:
            application/json:
              example:
                code: INTERNAL_ERROR
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#internal_error
                message: An unexpected error occurred.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 500
                timestamp: 2026-07-28T12:34:56.789Z
                type: api_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: An unexpected error occurred.
      tags:
      - Payments
  /v1/payments/{id}/capture:
    post:
      operationId: capture
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
      - in: header
        name: Idempotency-Key
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentResponse"
          description: OK
        "401":
          content:
            application/json:
              example:
                code: UNAUTHORIZED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#unauthorized
                message: Authentication is required or has failed.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 401
                timestamp: 2026-07-28T12:34:56.789Z
                type: authentication_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Authentication is required or has failed.
        "403":
          content:
            application/json:
              example:
                code: INSUFFICIENT_SCOPE
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#insufficient_scope
                message: This API key does not have the required scope for this endpoint.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 403
                timestamp: 2026-07-28T12:34:56.789Z
                type: permission_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: This API key does not have the required scope for this endpoint.
        "429":
          content:
            application/json:
              example:
                code: RATE_LIMIT_EXCEEDED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#rate_limit_exceeded
                message: Too many requests. Slow down and retry after the interval in the Retry-After header.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 429
                timestamp: 2026-07-28T12:34:56.789Z
                type: rate_limit_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Too many requests. Slow down and retry after the interval in the Retry-After header.
        "500":
          content:
            application/json:
              example:
                code: INTERNAL_ERROR
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#internal_error
                message: An unexpected error occurred.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 500
                timestamp: 2026-07-28T12:34:56.789Z
                type: api_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: An unexpected error occurred.
      tags:
      - Payments
  /v1/payments/{id}/refund:
    post:
      operationId: refund
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
      - in: header
        name: Idempotency-Key
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefundRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentResponse"
          description: OK
        "401":
          content:
            application/json:
              example:
                code: UNAUTHORIZED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#unauthorized
                message: Authentication is required or has failed.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 401
                timestamp: 2026-07-28T12:34:56.789Z
                type: authentication_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Authentication is required or has failed.
        "403":
          content:
            application/json:
              example:
                code: INSUFFICIENT_SCOPE
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#insufficient_scope
                message: This API key does not have the required scope for this endpoint.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 403
                timestamp: 2026-07-28T12:34:56.789Z
                type: permission_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: This API key does not have the required scope for this endpoint.
        "429":
          content:
            application/json:
              example:
                code: RATE_LIMIT_EXCEEDED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#rate_limit_exceeded
                message: Too many requests. Slow down and retry after the interval in the Retry-After header.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 429
                timestamp: 2026-07-28T12:34:56.789Z
                type: rate_limit_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Too many requests. Slow down and retry after the interval in the Retry-After header.
        "500":
          content:
            application/json:
              example:
                code: INTERNAL_ERROR
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#internal_error
                message: An unexpected error occurred.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 500
                timestamp: 2026-07-28T12:34:56.789Z
                type: api_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: An unexpected error occurred.
      tags:
      - Payments
  /v1/payments/{id}/void:
    post:
      operationId: voidPayment
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
      - in: header
        name: Idempotency-Key
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentResponse"
          description: OK
        "401":
          content:
            application/json:
              example:
                code: UNAUTHORIZED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#unauthorized
                message: Authentication is required or has failed.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 401
                timestamp: 2026-07-28T12:34:56.789Z
                type: authentication_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Authentication is required or has failed.
        "403":
          content:
            application/json:
              example:
                code: INSUFFICIENT_SCOPE
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#insufficient_scope
                message: This API key does not have the required scope for this endpoint.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 403
                timestamp: 2026-07-28T12:34:56.789Z
                type: permission_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: This API key does not have the required scope for this endpoint.
        "429":
          content:
            application/json:
              example:
                code: RATE_LIMIT_EXCEEDED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#rate_limit_exceeded
                message: Too many requests. Slow down and retry after the interval in the Retry-After header.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 429
                timestamp: 2026-07-28T12:34:56.789Z
                type: rate_limit_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Too many requests. Slow down and retry after the interval in the Retry-After header.
        "500":
          content:
            application/json:
              example:
                code: INTERNAL_ERROR
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#internal_error
                message: An unexpected error occurred.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 500
                timestamp: 2026-07-28T12:34:56.789Z
                type: api_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: An unexpected error occurred.
      tags:
      - Payments
  /v1/refunds:
    get:
      operationId: listRefunds
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: integer
          format: int32
      - in: query
        name: starting_after
        required: false
        schema:
          type: string
      - in: query
        name: payment
        required: false
        schema:
          type: string
          format: uuid
      - in: query
        name: status
        required: false
        schema:
          type: string
      - in: query
        name: created_after
        required: false
        schema:
          type: string
          format: date-time
      - in: query
        name: created_before
        required: false
        schema:
          type: string
          format: date-time
      - description: "Filter by metadata, spelled `metadata[key]=value` and repeatable. Matching is containment and every named key must match: `?metadata[orderId]=A-1234&metadata[channel]=web` returns only objects carrying both. A key nothing carries selects nothing rather than everything."
        explode: true
        in: query
        name: metadata
        schema:
          type: object
          additionalProperties: true
        style: deepObject
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CursorPageRefundResponse"
          description: OK
        "401":
          content:
            application/json:
              example:
                code: UNAUTHORIZED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#unauthorized
                message: Authentication is required or has failed.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 401
                timestamp: 2026-07-28T12:34:56.789Z
                type: authentication_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Authentication is required or has failed.
        "403":
          content:
            application/json:
              example:
                code: INSUFFICIENT_SCOPE
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#insufficient_scope
                message: This API key does not have the required scope for this endpoint.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 403
                timestamp: 2026-07-28T12:34:56.789Z
                type: permission_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: This API key does not have the required scope for this endpoint.
        "429":
          content:
            application/json:
              example:
                code: RATE_LIMIT_EXCEEDED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#rate_limit_exceeded
                message: Too many requests. Slow down and retry after the interval in the Retry-After header.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 429
                timestamp: 2026-07-28T12:34:56.789Z
                type: rate_limit_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Too many requests. Slow down and retry after the interval in the Retry-After header.
        "500":
          content:
            application/json:
              example:
                code: INTERNAL_ERROR
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#internal_error
                message: An unexpected error occurred.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 500
                timestamp: 2026-07-28T12:34:56.789Z
                type: api_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: An unexpected error occurred.
      tags:
      - Refunds
  /v1/refunds/{id}:
    get:
      operationId: getRefund
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RefundResponse"
          description: OK
        "401":
          content:
            application/json:
              example:
                code: UNAUTHORIZED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#unauthorized
                message: Authentication is required or has failed.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 401
                timestamp: 2026-07-28T12:34:56.789Z
                type: authentication_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Authentication is required or has failed.
        "403":
          content:
            application/json:
              example:
                code: INSUFFICIENT_SCOPE
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#insufficient_scope
                message: This API key does not have the required scope for this endpoint.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 403
                timestamp: 2026-07-28T12:34:56.789Z
                type: permission_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: This API key does not have the required scope for this endpoint.
        "429":
          content:
            application/json:
              example:
                code: RATE_LIMIT_EXCEEDED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#rate_limit_exceeded
                message: Too many requests. Slow down and retry after the interval in the Retry-After header.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 429
                timestamp: 2026-07-28T12:34:56.789Z
                type: rate_limit_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Too many requests. Slow down and retry after the interval in the Retry-After header.
        "500":
          content:
            application/json:
              example:
                code: INTERNAL_ERROR
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#internal_error
                message: An unexpected error occurred.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 500
                timestamp: 2026-07-28T12:34:56.789Z
                type: api_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: An unexpected error occurred.
      tags:
      - Refunds
  /v1/request_logs:
    get:
      operationId: requestLogs
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: integer
          format: int32
      - in: query
        name: starting_after
        required: false
        schema:
          type: string
      - in: query
        name: created_after
        required: false
        schema:
          type: string
          format: date-time
      - in: query
        name: created_before
        required: false
        schema:
          type: string
          format: date-time
      - in: query
        name: status_code
        required: false
        schema:
          type: integer
          format: int32
      - in: query
        name: method
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CursorPageRequestLogResponse"
          description: OK
        "401":
          content:
            application/json:
              example:
                code: UNAUTHORIZED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#unauthorized
                message: Authentication is required or has failed.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 401
                timestamp: 2026-07-28T12:34:56.789Z
                type: authentication_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Authentication is required or has failed.
        "403":
          content:
            application/json:
              example:
                code: INSUFFICIENT_SCOPE
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#insufficient_scope
                message: This API key does not have the required scope for this endpoint.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 403
                timestamp: 2026-07-28T12:34:56.789Z
                type: permission_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: This API key does not have the required scope for this endpoint.
        "429":
          content:
            application/json:
              example:
                code: RATE_LIMIT_EXCEEDED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#rate_limit_exceeded
                message: Too many requests. Slow down and retry after the interval in the Retry-After header.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 429
                timestamp: 2026-07-28T12:34:56.789Z
                type: rate_limit_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Too many requests. Slow down and retry after the interval in the Retry-After header.
        "500":
          content:
            application/json:
              example:
                code: INTERNAL_ERROR
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#internal_error
                message: An unexpected error occurred.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 500
                timestamp: 2026-07-28T12:34:56.789Z
                type: api_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: An unexpected error occurred.
      tags:
      - Request logs
  /v1/test/cards:
    get:
      operationId: listCards
      responses:
        "200":
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/TestCardResponse"
          description: OK
        "429":
          content:
            application/json:
              example:
                code: RATE_LIMIT_EXCEEDED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#rate_limit_exceeded
                message: Too many requests. Slow down and retry after the interval in the Retry-After header.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 429
                timestamp: 2026-07-28T12:34:56.789Z
                type: rate_limit_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Too many requests. Slow down and retry after the interval in the Retry-After header.
        "500":
          content:
            application/json:
              example:
                code: INTERNAL_ERROR
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#internal_error
                message: An unexpected error occurred.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 500
                timestamp: 2026-07-28T12:34:56.789Z
                type: api_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: An unexpected error occurred.
      security: []
      tags:
      - Test cards
  /v1/test/decisions:
    get:
      operationId: list
      parameters:
      - description: Zero-based page index (0..N)
        in: query
        name: page
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      - description: The size of the page to be returned
        in: query
        name: size
        required: false
        schema:
          type: integer
          default: 20
          minimum: 1
      - description: "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported."
        in: query
        name: sort
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageResponseDecisionLogEntryResponse"
          description: OK
        "401":
          content:
            application/json:
              example:
                code: UNAUTHORIZED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#unauthorized
                message: Authentication is required or has failed.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 401
                timestamp: 2026-07-28T12:34:56.789Z
                type: authentication_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Authentication is required or has failed.
        "403":
          content:
            application/json:
              example:
                code: INSUFFICIENT_SCOPE
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#insufficient_scope
                message: This API key does not have the required scope for this endpoint.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 403
                timestamp: 2026-07-28T12:34:56.789Z
                type: permission_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: This API key does not have the required scope for this endpoint.
        "429":
          content:
            application/json:
              example:
                code: RATE_LIMIT_EXCEEDED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#rate_limit_exceeded
                message: Too many requests. Slow down and retry after the interval in the Retry-After header.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 429
                timestamp: 2026-07-28T12:34:56.789Z
                type: rate_limit_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Too many requests. Slow down and retry after the interval in the Retry-After header.
        "500":
          content:
            application/json:
              example:
                code: INTERNAL_ERROR
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#internal_error
                message: An unexpected error occurred.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 500
                timestamp: 2026-07-28T12:34:56.789Z
                type: api_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: An unexpected error occurred.
      tags:
      - Decisions
  /v1/test/decisions/payments/{paymentId}:
    get:
      operationId: forPayment
      parameters:
      - in: path
        name: paymentId
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DecisionLogEntryResponse"
          description: OK
        "401":
          content:
            application/json:
              example:
                code: UNAUTHORIZED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#unauthorized
                message: Authentication is required or has failed.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 401
                timestamp: 2026-07-28T12:34:56.789Z
                type: authentication_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Authentication is required or has failed.
        "403":
          content:
            application/json:
              example:
                code: INSUFFICIENT_SCOPE
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#insufficient_scope
                message: This API key does not have the required scope for this endpoint.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 403
                timestamp: 2026-07-28T12:34:56.789Z
                type: permission_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: This API key does not have the required scope for this endpoint.
        "429":
          content:
            application/json:
              example:
                code: RATE_LIMIT_EXCEEDED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#rate_limit_exceeded
                message: Too many requests. Slow down and retry after the interval in the Retry-After header.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 429
                timestamp: 2026-07-28T12:34:56.789Z
                type: rate_limit_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Too many requests. Slow down and retry after the interval in the Retry-After header.
        "500":
          content:
            application/json:
              example:
                code: INTERNAL_ERROR
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#internal_error
                message: An unexpected error occurred.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 500
                timestamp: 2026-07-28T12:34:56.789Z
                type: api_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: An unexpected error occurred.
      tags:
      - Decisions
  /v1/test/simulations:
    post:
      operationId: create
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSimulationOverrideRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SimulationOverrideResponse"
          description: OK
        "401":
          content:
            application/json:
              example:
                code: UNAUTHORIZED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#unauthorized
                message: Authentication is required or has failed.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 401
                timestamp: 2026-07-28T12:34:56.789Z
                type: authentication_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Authentication is required or has failed.
        "403":
          content:
            application/json:
              example:
                code: INSUFFICIENT_SCOPE
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#insufficient_scope
                message: This API key does not have the required scope for this endpoint.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 403
                timestamp: 2026-07-28T12:34:56.789Z
                type: permission_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: This API key does not have the required scope for this endpoint.
        "429":
          content:
            application/json:
              example:
                code: RATE_LIMIT_EXCEEDED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#rate_limit_exceeded
                message: Too many requests. Slow down and retry after the interval in the Retry-After header.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 429
                timestamp: 2026-07-28T12:34:56.789Z
                type: rate_limit_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Too many requests. Slow down and retry after the interval in the Retry-After header.
        "500":
          content:
            application/json:
              example:
                code: INTERNAL_ERROR
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#internal_error
                message: An unexpected error occurred.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 500
                timestamp: 2026-07-28T12:34:56.789Z
                type: api_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: An unexpected error occurred.
      tags:
      - Simulations
  /v1/test/simulations/active:
    delete:
      operationId: revokeActive
      responses:
        "200":
          description: OK
        "401":
          content:
            application/json:
              example:
                code: UNAUTHORIZED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#unauthorized
                message: Authentication is required or has failed.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 401
                timestamp: 2026-07-28T12:34:56.789Z
                type: authentication_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Authentication is required or has failed.
        "403":
          content:
            application/json:
              example:
                code: INSUFFICIENT_SCOPE
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#insufficient_scope
                message: This API key does not have the required scope for this endpoint.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 403
                timestamp: 2026-07-28T12:34:56.789Z
                type: permission_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: This API key does not have the required scope for this endpoint.
        "429":
          content:
            application/json:
              example:
                code: RATE_LIMIT_EXCEEDED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#rate_limit_exceeded
                message: Too many requests. Slow down and retry after the interval in the Retry-After header.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 429
                timestamp: 2026-07-28T12:34:56.789Z
                type: rate_limit_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Too many requests. Slow down and retry after the interval in the Retry-After header.
        "500":
          content:
            application/json:
              example:
                code: INTERNAL_ERROR
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#internal_error
                message: An unexpected error occurred.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 500
                timestamp: 2026-07-28T12:34:56.789Z
                type: api_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: An unexpected error occurred.
      tags:
      - Simulations
    get:
      operationId: getActive
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SimulationOverrideResponse"
          description: OK
        "401":
          content:
            application/json:
              example:
                code: UNAUTHORIZED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#unauthorized
                message: Authentication is required or has failed.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 401
                timestamp: 2026-07-28T12:34:56.789Z
                type: authentication_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Authentication is required or has failed.
        "403":
          content:
            application/json:
              example:
                code: INSUFFICIENT_SCOPE
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#insufficient_scope
                message: This API key does not have the required scope for this endpoint.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 403
                timestamp: 2026-07-28T12:34:56.789Z
                type: permission_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: This API key does not have the required scope for this endpoint.
        "429":
          content:
            application/json:
              example:
                code: RATE_LIMIT_EXCEEDED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#rate_limit_exceeded
                message: Too many requests. Slow down and retry after the interval in the Retry-After header.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 429
                timestamp: 2026-07-28T12:34:56.789Z
                type: rate_limit_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Too many requests. Slow down and retry after the interval in the Retry-After header.
        "500":
          content:
            application/json:
              example:
                code: INTERNAL_ERROR
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#internal_error
                message: An unexpected error occurred.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 500
                timestamp: 2026-07-28T12:34:56.789Z
                type: api_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: An unexpected error occurred.
      tags:
      - Simulations
  /v1/usage:
    get:
      operationId: usage
      parameters:
      - in: query
        name: from
        required: false
        schema:
          type: string
          format: date
      - in: query
        name: to
        required: false
        schema:
          type: string
          format: date
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsageSummaryResponse"
          description: OK
        "401":
          content:
            application/json:
              example:
                code: UNAUTHORIZED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#unauthorized
                message: Authentication is required or has failed.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 401
                timestamp: 2026-07-28T12:34:56.789Z
                type: authentication_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Authentication is required or has failed.
        "403":
          content:
            application/json:
              example:
                code: INSUFFICIENT_SCOPE
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#insufficient_scope
                message: This API key does not have the required scope for this endpoint.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 403
                timestamp: 2026-07-28T12:34:56.789Z
                type: permission_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: This API key does not have the required scope for this endpoint.
        "429":
          content:
            application/json:
              example:
                code: RATE_LIMIT_EXCEEDED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#rate_limit_exceeded
                message: Too many requests. Slow down and retry after the interval in the Retry-After header.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 429
                timestamp: 2026-07-28T12:34:56.789Z
                type: rate_limit_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Too many requests. Slow down and retry after the interval in the Retry-After header.
        "500":
          content:
            application/json:
              example:
                code: INTERNAL_ERROR
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#internal_error
                message: An unexpected error occurred.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 500
                timestamp: 2026-07-28T12:34:56.789Z
                type: api_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: An unexpected error occurred.
      tags:
      - Usage
  /v1/webhook_deliveries:
    get:
      operationId: list_1
      parameters:
      - description: Zero-based page index (0..N)
        in: query
        name: page
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      - description: The size of the page to be returned
        in: query
        name: size
        required: false
        schema:
          type: integer
          default: 20
          minimum: 1
      - description: "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported."
        in: query
        name: sort
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageResponseWebhookDeliveryResponse"
          description: OK
        "401":
          content:
            application/json:
              example:
                code: UNAUTHORIZED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#unauthorized
                message: Authentication is required or has failed.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 401
                timestamp: 2026-07-28T12:34:56.789Z
                type: authentication_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Authentication is required or has failed.
        "403":
          content:
            application/json:
              example:
                code: INSUFFICIENT_SCOPE
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#insufficient_scope
                message: This API key does not have the required scope for this endpoint.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 403
                timestamp: 2026-07-28T12:34:56.789Z
                type: permission_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: This API key does not have the required scope for this endpoint.
        "429":
          content:
            application/json:
              example:
                code: RATE_LIMIT_EXCEEDED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#rate_limit_exceeded
                message: Too many requests. Slow down and retry after the interval in the Retry-After header.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 429
                timestamp: 2026-07-28T12:34:56.789Z
                type: rate_limit_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Too many requests. Slow down and retry after the interval in the Retry-After header.
        "500":
          content:
            application/json:
              example:
                code: INTERNAL_ERROR
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#internal_error
                message: An unexpected error occurred.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 500
                timestamp: 2026-07-28T12:34:56.789Z
                type: api_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: An unexpected error occurred.
      tags:
      - Webhook deliveries
  /v1/webhook_deliveries/{id}:
    get:
      operationId: get_1
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookDeliveryResponse"
          description: OK
        "401":
          content:
            application/json:
              example:
                code: UNAUTHORIZED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#unauthorized
                message: Authentication is required or has failed.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 401
                timestamp: 2026-07-28T12:34:56.789Z
                type: authentication_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Authentication is required or has failed.
        "403":
          content:
            application/json:
              example:
                code: INSUFFICIENT_SCOPE
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#insufficient_scope
                message: This API key does not have the required scope for this endpoint.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 403
                timestamp: 2026-07-28T12:34:56.789Z
                type: permission_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: This API key does not have the required scope for this endpoint.
        "429":
          content:
            application/json:
              example:
                code: RATE_LIMIT_EXCEEDED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#rate_limit_exceeded
                message: Too many requests. Slow down and retry after the interval in the Retry-After header.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 429
                timestamp: 2026-07-28T12:34:56.789Z
                type: rate_limit_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Too many requests. Slow down and retry after the interval in the Retry-After header.
        "500":
          content:
            application/json:
              example:
                code: INTERNAL_ERROR
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#internal_error
                message: An unexpected error occurred.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 500
                timestamp: 2026-07-28T12:34:56.789Z
                type: api_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: An unexpected error occurred.
      tags:
      - Webhook deliveries
  /v1/webhook_deliveries/{id}/replay:
    post:
      operationId: replay
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookDeliveryResponse"
          description: Created
        "401":
          content:
            application/json:
              example:
                code: UNAUTHORIZED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#unauthorized
                message: Authentication is required or has failed.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 401
                timestamp: 2026-07-28T12:34:56.789Z
                type: authentication_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Authentication is required or has failed.
        "403":
          content:
            application/json:
              example:
                code: INSUFFICIENT_SCOPE
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#insufficient_scope
                message: This API key does not have the required scope for this endpoint.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 403
                timestamp: 2026-07-28T12:34:56.789Z
                type: permission_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: This API key does not have the required scope for this endpoint.
        "429":
          content:
            application/json:
              example:
                code: RATE_LIMIT_EXCEEDED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#rate_limit_exceeded
                message: Too many requests. Slow down and retry after the interval in the Retry-After header.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 429
                timestamp: 2026-07-28T12:34:56.789Z
                type: rate_limit_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Too many requests. Slow down and retry after the interval in the Retry-After header.
        "500":
          content:
            application/json:
              example:
                code: INTERNAL_ERROR
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#internal_error
                message: An unexpected error occurred.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 500
                timestamp: 2026-07-28T12:34:56.789Z
                type: api_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: An unexpected error occurred.
      tags:
      - Webhook deliveries
  /v1/webhook_endpoints:
    get:
      operationId: list
      responses:
        "200":
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/WebhookEndpointResponse"
          description: OK
        "401":
          content:
            application/json:
              example:
                code: UNAUTHORIZED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#unauthorized
                message: Authentication is required or has failed.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 401
                timestamp: 2026-07-28T12:34:56.789Z
                type: authentication_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Authentication is required or has failed.
        "403":
          content:
            application/json:
              example:
                code: INSUFFICIENT_SCOPE
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#insufficient_scope
                message: This API key does not have the required scope for this endpoint.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 403
                timestamp: 2026-07-28T12:34:56.789Z
                type: permission_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: This API key does not have the required scope for this endpoint.
        "429":
          content:
            application/json:
              example:
                code: RATE_LIMIT_EXCEEDED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#rate_limit_exceeded
                message: Too many requests. Slow down and retry after the interval in the Retry-After header.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 429
                timestamp: 2026-07-28T12:34:56.789Z
                type: rate_limit_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Too many requests. Slow down and retry after the interval in the Retry-After header.
        "500":
          content:
            application/json:
              example:
                code: INTERNAL_ERROR
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#internal_error
                message: An unexpected error occurred.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 500
                timestamp: 2026-07-28T12:34:56.789Z
                type: api_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: An unexpected error occurred.
      tags:
      - Webhook endpoints
    post:
      operationId: create
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWebhookEndpointRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookEndpointCreatedResponse"
          description: Created
        "401":
          content:
            application/json:
              example:
                code: UNAUTHORIZED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#unauthorized
                message: Authentication is required or has failed.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 401
                timestamp: 2026-07-28T12:34:56.789Z
                type: authentication_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Authentication is required or has failed.
        "403":
          content:
            application/json:
              example:
                code: INSUFFICIENT_SCOPE
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#insufficient_scope
                message: This API key does not have the required scope for this endpoint.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 403
                timestamp: 2026-07-28T12:34:56.789Z
                type: permission_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: This API key does not have the required scope for this endpoint.
        "429":
          content:
            application/json:
              example:
                code: RATE_LIMIT_EXCEEDED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#rate_limit_exceeded
                message: Too many requests. Slow down and retry after the interval in the Retry-After header.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 429
                timestamp: 2026-07-28T12:34:56.789Z
                type: rate_limit_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Too many requests. Slow down and retry after the interval in the Retry-After header.
        "500":
          content:
            application/json:
              example:
                code: INTERNAL_ERROR
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#internal_error
                message: An unexpected error occurred.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 500
                timestamp: 2026-07-28T12:34:56.789Z
                type: api_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: An unexpected error occurred.
      tags:
      - Webhook endpoints
  /v1/webhook_endpoints/{id}:
    delete:
      operationId: delete
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: OK
        "401":
          content:
            application/json:
              example:
                code: UNAUTHORIZED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#unauthorized
                message: Authentication is required or has failed.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 401
                timestamp: 2026-07-28T12:34:56.789Z
                type: authentication_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Authentication is required or has failed.
        "403":
          content:
            application/json:
              example:
                code: INSUFFICIENT_SCOPE
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#insufficient_scope
                message: This API key does not have the required scope for this endpoint.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 403
                timestamp: 2026-07-28T12:34:56.789Z
                type: permission_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: This API key does not have the required scope for this endpoint.
        "429":
          content:
            application/json:
              example:
                code: RATE_LIMIT_EXCEEDED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#rate_limit_exceeded
                message: Too many requests. Slow down and retry after the interval in the Retry-After header.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 429
                timestamp: 2026-07-28T12:34:56.789Z
                type: rate_limit_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Too many requests. Slow down and retry after the interval in the Retry-After header.
        "500":
          content:
            application/json:
              example:
                code: INTERNAL_ERROR
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#internal_error
                message: An unexpected error occurred.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 500
                timestamp: 2026-07-28T12:34:56.789Z
                type: api_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: An unexpected error occurred.
      tags:
      - Webhook endpoints
    get:
      operationId: get
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookEndpointResponse"
          description: OK
        "401":
          content:
            application/json:
              example:
                code: UNAUTHORIZED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#unauthorized
                message: Authentication is required or has failed.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 401
                timestamp: 2026-07-28T12:34:56.789Z
                type: authentication_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Authentication is required or has failed.
        "403":
          content:
            application/json:
              example:
                code: INSUFFICIENT_SCOPE
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#insufficient_scope
                message: This API key does not have the required scope for this endpoint.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 403
                timestamp: 2026-07-28T12:34:56.789Z
                type: permission_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: This API key does not have the required scope for this endpoint.
        "429":
          content:
            application/json:
              example:
                code: RATE_LIMIT_EXCEEDED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#rate_limit_exceeded
                message: Too many requests. Slow down and retry after the interval in the Retry-After header.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 429
                timestamp: 2026-07-28T12:34:56.789Z
                type: rate_limit_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Too many requests. Slow down and retry after the interval in the Retry-After header.
        "500":
          content:
            application/json:
              example:
                code: INTERNAL_ERROR
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#internal_error
                message: An unexpected error occurred.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 500
                timestamp: 2026-07-28T12:34:56.789Z
                type: api_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: An unexpected error occurred.
      tags:
      - Webhook endpoints
    patch:
      operationId: update
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateWebhookEndpointRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookEndpointResponse"
          description: OK
        "401":
          content:
            application/json:
              example:
                code: UNAUTHORIZED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#unauthorized
                message: Authentication is required or has failed.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 401
                timestamp: 2026-07-28T12:34:56.789Z
                type: authentication_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Authentication is required or has failed.
[...]
