openapi: 3.1.0
info:
  description: |-
    The PaymentFlow payments API. This document describes the public `/v1` surface — the endpoints PaymentFlow versions, deprecates on a published timeline, and supports for integrators. Endpoints not described here are internal and carry no compatibility promise.

    Amounts are integers in the currency's minor unit (`amountMinor`): `1000` in `USD` is $10.00. There are no floating-point amounts anywhere in this API.

    Every mutating request accepts an `Idempotency-Key` header and every list is cursor-paginated; both are described on the operations that use them.
  license:
    name: Proprietary
  title: PaymentFlow API
  version: 2026-08-01
servers:
- url: https://api.paymentflow.dev
  description: PaymentFlow API
security:
- SecretKey: []
paths:
  /v1/analytics/payments:
    get:
      description: |-
        Returns totals and an hourly series for your payment activity over a window, in one round trip — a dashboard renders both on one screen, so splitting them across endpoints would mean two queries over the same rows.

        `successRate` is computed here rather than left to you, because there is more than one defensible denominator and a platform that returns raw counters invites every client to pick a different one. The published definition is `authorized / (authorized + failed)`.

        The hourly series begins where this platform started recording it; totals are complete, but a window reaching further back than the series will show fewer buckets than hours.
      operationId: getPaymentAnalytics
      parameters:
      - description: "The start of the window, as RFC 3339. Defaults to 24 hours ago."
        example: 2026-07-28T00:00:00Z
        in: query
        name: from
        required: false
        schema:
          type: string
          format: date-time
      - description: "The end of the window, as RFC 3339. Defaults to now."
        example: 2026-07-29T00:00:00Z
        in: query
        name: to
        required: false
        schema:
          type: string
          format: date-time
      - description: "Pin this one request to a dated API revision. Overrides the revision your account is pinned to; omit it to use that pin, or the current revision if you have none. An unrecognised value is rejected with `400 UNSUPPORTED_API_VERSION` rather than silently ignored."
        in: header
        name: PaymentFlow-Version
        required: false
        schema:
          type: string
          example: 2026-08-01
      - description: "Your own identifier for this operation, echoed back on the response and recorded on every log line it produces. Send one to join your logs to PaymentFlow's; omit it and one is generated for you."
        in: header
        name: X-Correlation-Id
        required: false
        schema:
          type: string
          format: uuid
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnalyticsSummaryResponse"
          description: "Totals for the window, and the hourly series behind them."
          headers:
            Deprecation:
              $ref: "#/components/headers/Deprecation"
            Link:
              $ref: "#/components/headers/Link"
            PaymentFlow-Version:
              $ref: "#/components/headers/PaymentFlow-Version"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
            Sunset:
              $ref: "#/components/headers/Sunset"
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "401":
          content:
            application/json:
              example:
                code: UNAUTHORIZED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#unauthorized
                message: Authentication is required or has failed.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 401
                timestamp: 2026-07-28T12:34:56.789Z
                type: authentication_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Authentication is required or has failed.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "403":
          content:
            application/json:
              example:
                code: INSUFFICIENT_SCOPE
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#insufficient_scope
                message: This API key does not have the required scope for this endpoint.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 403
                timestamp: 2026-07-28T12:34:56.789Z
                type: permission_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: This API key does not have the required scope for this endpoint.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "429":
          content:
            application/json:
              example:
                code: RATE_LIMIT_EXCEEDED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#rate_limit_exceeded
                message: Too many requests. Slow down and retry after the interval in the Retry-After header.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 429
                timestamp: 2026-07-28T12:34:56.789Z
                type: rate_limit_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Too many requests. Slow down and retry after the interval in the Retry-After header.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
            Retry-After:
              $ref: "#/components/headers/Retry-After"
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "500":
          content:
            application/json:
              example:
                code: INTERNAL_ERROR
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#internal_error
                message: An unexpected error occurred.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 500
                timestamp: 2026-07-28T12:34:56.789Z
                type: api_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: An unexpected error occurred.
          headers:
            Deprecation:
              $ref: "#/components/headers/Deprecation"
            Link:
              $ref: "#/components/headers/Link"
            PaymentFlow-Version:
              $ref: "#/components/headers/PaymentFlow-Version"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
            Sunset:
              $ref: "#/components/headers/Sunset"
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
      summary: Summarize payment activity
      tags:
      - Analytics
  /v1/balance:
    get:
      description: |-
        Returns what you hold, per currency, in the mode of the key you called with.

        Two figures per currency, and the difference matters: `pendingMinor` is money authorized but not yet captured — it can still be voided or expire, so it is not yours — while `availableMinor` is money captured and owed to you, net of refunds. Both are projections of the double-entry ledger rather than counters kept alongside it, so they cannot drift from the entries at `/v1/balance_transactions`.
      operationId: getBalance
      parameters:
      - description: "Pin this one request to a dated API revision. Overrides the revision your account is pinned to; omit it to use that pin, or the current revision if you have none. An unrecognised value is rejected with `400 UNSUPPORTED_API_VERSION` rather than silently ignored."
        in: header
        name: PaymentFlow-Version
        required: false
        schema:
          type: string
          example: 2026-08-01
      - description: "Your own identifier for this operation, echoed back on the response and recorded on every log line it produces. Send one to join your logs to PaymentFlow's; omit it and one is generated for you."
        in: header
        name: X-Correlation-Id
        required: false
        schema:
          type: string
          format: uuid
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BalanceResponse"
          description: Your balance in every currency you hold.
          headers:
            Deprecation:
              $ref: "#/components/headers/Deprecation"
            Link:
              $ref: "#/components/headers/Link"
            PaymentFlow-Version:
              $ref: "#/components/headers/PaymentFlow-Version"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
            Sunset:
              $ref: "#/components/headers/Sunset"
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "401":
          content:
            application/json:
              example:
                code: UNAUTHORIZED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#unauthorized
                message: Authentication is required or has failed.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 401
                timestamp: 2026-07-28T12:34:56.789Z
                type: authentication_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Authentication is required or has failed.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "403":
          content:
            application/json:
              example:
                code: INSUFFICIENT_SCOPE
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#insufficient_scope
                message: This API key does not have the required scope for this endpoint.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 403
                timestamp: 2026-07-28T12:34:56.789Z
                type: permission_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: This API key does not have the required scope for this endpoint.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "429":
          content:
            application/json:
              example:
                code: RATE_LIMIT_EXCEEDED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#rate_limit_exceeded
                message: Too many requests. Slow down and retry after the interval in the Retry-After header.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 429
                timestamp: 2026-07-28T12:34:56.789Z
                type: rate_limit_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Too many requests. Slow down and retry after the interval in the Retry-After header.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
            Retry-After:
              $ref: "#/components/headers/Retry-After"
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "500":
          content:
            application/json:
              example:
                code: INTERNAL_ERROR
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#internal_error
                message: An unexpected error occurred.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 500
                timestamp: 2026-07-28T12:34:56.789Z
                type: api_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: An unexpected error occurred.
          headers:
            Deprecation:
              $ref: "#/components/headers/Deprecation"
            Link:
              $ref: "#/components/headers/Link"
            PaymentFlow-Version:
              $ref: "#/components/headers/PaymentFlow-Version"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
            Sunset:
              $ref: "#/components/headers/Sunset"
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
      summary: Retrieve your balance
      tags:
      - Balance
  /v1/balance_transactions:
    get:
      description: |-
        Returns the individual ledger entries behind your balance, most recent first, cursor-paginated. Every entry names the payment and the lifecycle event that produced it, so a balance can always be reconciled back to the payments that made it.

        Only your own side of each entry is returned. Every posting is balanced against the platform's clearing account, which is not a merchant's business to see — this is a projection of the ledger, not a dump of it.
      operationId: listBalanceTransactions
      parameters:
      - description: "How many objects to return, 1–100. Values above the ceiling are clamped to it rather than rejected, so a client asking for more simply receives the maximum. Defaults to 25."
        in: query
        name: limit
        required: false
        schema:
          type: integer
          format: int32
      - description: A cursor for pagination. Pass the `nextCursor` from the previous response to fetch the following page. The value is opaque and signed — treat it as a token and never parse or construct one.
        in: query
        name: starting_after
        required: false
        schema:
          type: string
      - description: "Return only objects created at or after this instant, as RFC 3339 (`2026-07-29T00:00:00Z`)."
        in: query
        name: created_after
        required: false
        schema:
          type: string
          format: date-time
      - description: "Return only objects created at or before this instant, as RFC 3339 (`2026-07-29T23:59:59Z`)."
        in: query
        name: created_before
        required: false
        schema:
          type: string
          format: date-time
      - description: "Pin this one request to a dated API revision. Overrides the revision your account is pinned to; omit it to use that pin, or the current revision if you have none. An unrecognised value is rejected with `400 UNSUPPORTED_API_VERSION` rather than silently ignored."
        in: header
        name: PaymentFlow-Version
        required: false
        schema:
          type: string
          example: 2026-08-01
      - description: "Your own identifier for this operation, echoed back on the response and recorded on every log line it produces. Send one to join your logs to PaymentFlow's; omit it and one is generated for you."
        in: header
        name: X-Correlation-Id
        required: false
        schema:
          type: string
          format: uuid
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CursorPageBalanceTransactionResponse"
          description: "A page of ledger entries, most recent first."
          headers:
            Deprecation:
              $ref: "#/components/headers/Deprecation"
            Link:
              $ref: "#/components/headers/Link"
            PaymentFlow-Version:
              $ref: "#/components/headers/PaymentFlow-Version"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
            Sunset:
              $ref: "#/components/headers/Sunset"
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "The query could not be understood: a tampered or malformed `starting_after` cursor, a `limit` that is not positive, or a filter value outside the vocabulary this endpoint accepts. A rejected filter is deliberately an error rather than an empty page — an empty page is something you would then have to explain to yourself."
          headers:
            Deprecation:
              $ref: "#/components/headers/Deprecation"
            Link:
              $ref: "#/components/headers/Link"
            PaymentFlow-Version:
              $ref: "#/components/headers/PaymentFlow-Version"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
            Sunset:
              $ref: "#/components/headers/Sunset"
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "401":
          content:
            application/json:
              example:
                code: UNAUTHORIZED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#unauthorized
                message: Authentication is required or has failed.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 401
                timestamp: 2026-07-28T12:34:56.789Z
                type: authentication_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Authentication is required or has failed.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "403":
          content:
            application/json:
              example:
                code: INSUFFICIENT_SCOPE
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#insufficient_scope
                message: This API key does not have the required scope for this endpoint.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 403
                timestamp: 2026-07-28T12:34:56.789Z
                type: permission_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: This API key does not have the required scope for this endpoint.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "429":
          content:
            application/json:
              example:
                code: RATE_LIMIT_EXCEEDED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#rate_limit_exceeded
                message: Too many requests. Slow down and retry after the interval in the Retry-After header.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 429
                timestamp: 2026-07-28T12:34:56.789Z
                type: rate_limit_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Too many requests. Slow down and retry after the interval in the Retry-After header.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
            Retry-After:
              $ref: "#/components/headers/Retry-After"
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "500":
          content:
            application/json:
              example:
                code: INTERNAL_ERROR
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#internal_error
                message: An unexpected error occurred.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 500
                timestamp: 2026-07-28T12:34:56.789Z
                type: api_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: An unexpected error occurred.
          headers:
            Deprecation:
              $ref: "#/components/headers/Deprecation"
            Link:
              $ref: "#/components/headers/Link"
            PaymentFlow-Version:
              $ref: "#/components/headers/PaymentFlow-Version"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
            Sunset:
              $ref: "#/components/headers/Sunset"
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
      summary: List balance transactions
      tags:
      - Balance transactions
  /v1/events:
    get:
      description: |-
        Returns everything that has happened on your account, most recent first, cursor-paginated.

        This is the same feed your webhook endpoints are delivered from, which makes it the recovery path when they are not: an endpoint that was down, misconfigured, or auto-disabled loses deliveries, not events. Poll here to catch up, and reconcile by `id` — an event's `evt_` id is identical in both places.

        Ordered by when things **occurred**, not when they were recorded, so a redelivery cannot reorder your feed.
      operationId: listEvents
      parameters:
      - description: "How many objects to return, 1–100. Values above the ceiling are clamped to it rather than rejected, so a client asking for more simply receives the maximum. Defaults to 25."
        in: query
        name: limit
        required: false
        schema:
          type: integer
          format: int32
      - description: A cursor for pagination. Pass the `nextCursor` from the previous response to fetch the following page. The value is opaque and signed — treat it as a token and never parse or construct one.
        in: query
        name: starting_after
        required: false
        schema:
          type: string
      - description: Return only events of this type. Must be a name from the event vocabulary — a typo is a `400` naming the valid values rather than an empty page.
        example: payment.captured
        in: query
        name: type
        required: false
        schema:
          type: string
      - description: "Return only objects created at or after this instant, as RFC 3339 (`2026-07-29T00:00:00Z`)."
        in: query
        name: created_after
        required: false
        schema:
          type: string
          format: date-time
      - description: "Return only objects created at or before this instant, as RFC 3339 (`2026-07-29T23:59:59Z`)."
        in: query
        name: created_before
        required: false
        schema:
          type: string
          format: date-time
      - description: "Pin this one request to a dated API revision. Overrides the revision your account is pinned to; omit it to use that pin, or the current revision if you have none. An unrecognised value is rejected with `400 UNSUPPORTED_API_VERSION` rather than silently ignored."
        in: header
        name: PaymentFlow-Version
        required: false
        schema:
          type: string
          example: 2026-08-01
      - description: "Your own identifier for this operation, echoed back on the response and recorded on every log line it produces. Send one to join your logs to PaymentFlow's; omit it and one is generated for you."
        in: header
        name: X-Correlation-Id
        required: false
        schema:
          type: string
          format: uuid
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CursorPageEventResponse"
          description: "A page of events, most recent first."
          headers:
            Deprecation:
              $ref: "#/components/headers/Deprecation"
            Link:
              $ref: "#/components/headers/Link"
            PaymentFlow-Version:
              $ref: "#/components/headers/PaymentFlow-Version"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
            Sunset:
              $ref: "#/components/headers/Sunset"
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "The query could not be understood: a tampered or malformed `starting_after` cursor, a `limit` that is not positive, or a filter value outside the vocabulary this endpoint accepts. A rejected filter is deliberately an error rather than an empty page — an empty page is something you would then have to explain to yourself."
          headers:
            Deprecation:
              $ref: "#/components/headers/Deprecation"
            Link:
              $ref: "#/components/headers/Link"
            PaymentFlow-Version:
              $ref: "#/components/headers/PaymentFlow-Version"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
            Sunset:
              $ref: "#/components/headers/Sunset"
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "401":
          content:
            application/json:
              example:
                code: UNAUTHORIZED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#unauthorized
                message: Authentication is required or has failed.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 401
                timestamp: 2026-07-28T12:34:56.789Z
                type: authentication_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Authentication is required or has failed.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "403":
          content:
            application/json:
              example:
                code: INSUFFICIENT_SCOPE
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#insufficient_scope
                message: This API key does not have the required scope for this endpoint.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 403
                timestamp: 2026-07-28T12:34:56.789Z
                type: permission_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: This API key does not have the required scope for this endpoint.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "429":
          content:
            application/json:
              example:
                code: RATE_LIMIT_EXCEEDED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#rate_limit_exceeded
                message: Too many requests. Slow down and retry after the interval in the Retry-After header.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 429
                timestamp: 2026-07-28T12:34:56.789Z
                type: rate_limit_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Too many requests. Slow down and retry after the interval in the Retry-After header.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
            Retry-After:
              $ref: "#/components/headers/Retry-After"
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "500":
          content:
            application/json:
              example:
                code: INTERNAL_ERROR
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#internal_error
                message: An unexpected error occurred.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 500
                timestamp: 2026-07-28T12:34:56.789Z
                type: api_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: An unexpected error occurred.
          headers:
            Deprecation:
              $ref: "#/components/headers/Deprecation"
            Link:
              $ref: "#/components/headers/Link"
            PaymentFlow-Version:
              $ref: "#/components/headers/PaymentFlow-Version"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
            Sunset:
              $ref: "#/components/headers/Sunset"
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
      summary: List events
      tags:
      - Events
  /v1/events/{id}:
    get:
      description: "Returns one event by the `evt_` id you received in a webhook body. This is how a receiver confirms that a delivery it was sent is genuine and still says what it said — the id in the webhook and the id here are the same value, derived from the same source."
      operationId: getEvent
      parameters:
      - description: The `evt_` id of the event to retrieve.
        example: evt_9f2c1e7a4b8d4c3e8a1d2b4f6a8c05d1
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: "Pin this one request to a dated API revision. Overrides the revision your account is pinned to; omit it to use that pin, or the current revision if you have none. An unrecognised value is rejected with `400 UNSUPPORTED_API_VERSION` rather than silently ignored."
        in: header
        name: PaymentFlow-Version
        required: false
        schema:
          type: string
          example: 2026-08-01
      - description: "Your own identifier for this operation, echoed back on the response and recorded on every log line it produces. Send one to join your logs to PaymentFlow's; omit it and one is generated for you."
        in: header
        name: X-Correlation-Id
        required: false
        schema:
          type: string
          format: uuid
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventResponse"
          description: The event.
          headers:
            Deprecation:
              $ref: "#/components/headers/Deprecation"
            Link:
              $ref: "#/components/headers/Link"
            PaymentFlow-Version:
              $ref: "#/components/headers/PaymentFlow-Version"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
            Sunset:
              $ref: "#/components/headers/Sunset"
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: The id is not a well-formed `evt_` identifier.
          headers:
            Deprecation:
              $ref: "#/components/headers/Deprecation"
            Link:
              $ref: "#/components/headers/Link"
            PaymentFlow-Version:
              $ref: "#/components/headers/PaymentFlow-Version"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
            Sunset:
              $ref: "#/components/headers/Sunset"
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "401":
          content:
            application/json:
              example:
                code: UNAUTHORIZED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#unauthorized
                message: Authentication is required or has failed.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 401
                timestamp: 2026-07-28T12:34:56.789Z
                type: authentication_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Authentication is required or has failed.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "403":
          content:
            application/json:
              example:
                code: INSUFFICIENT_SCOPE
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#insufficient_scope
                message: This API key does not have the required scope for this endpoint.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 403
                timestamp: 2026-07-28T12:34:56.789Z
                type: permission_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: This API key does not have the required scope for this endpoint.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "No such event. Also returned for an event that exists but belongs to another merchant, to the other mode, or is internal to the platform and not part of your feed — never `403`, which would confirm it exists."
          headers:
            Deprecation:
              $ref: "#/components/headers/Deprecation"
            Link:
              $ref: "#/components/headers/Link"
            PaymentFlow-Version:
              $ref: "#/components/headers/PaymentFlow-Version"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
            Sunset:
              $ref: "#/components/headers/Sunset"
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "429":
          content:
            application/json:
              example:
                code: RATE_LIMIT_EXCEEDED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#rate_limit_exceeded
                message: Too many requests. Slow down and retry after the interval in the Retry-After header.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 429
                timestamp: 2026-07-28T12:34:56.789Z
                type: rate_limit_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Too many requests. Slow down and retry after the interval in the Retry-After header.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
            Retry-After:
              $ref: "#/components/headers/Retry-After"
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "500":
          content:
            application/json:
              example:
                code: INTERNAL_ERROR
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#internal_error
                message: An unexpected error occurred.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 500
                timestamp: 2026-07-28T12:34:56.789Z
                type: api_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: An unexpected error occurred.
          headers:
            Deprecation:
              $ref: "#/components/headers/Deprecation"
            Link:
              $ref: "#/components/headers/Link"
            PaymentFlow-Version:
              $ref: "#/components/headers/PaymentFlow-Version"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
            Sunset:
              $ref: "#/components/headers/Sunset"
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
      summary: Retrieve an event
      tags:
      - Events
  /v1/payments:
    get:
      description: |-
        Returns your payments, most recent first, cursor-paginated.

        Pagination is cursor-based rather than offset-based because this list is append-heavy: under concurrent inserts an offset page silently skips rows, which on a financial list is a correctness bug rather than a cosmetic one. Follow `nextCursor` until `hasMore` is false.

        Every filter combines with `AND`. The list is always scoped to your own merchant and to the mode of the key you called with.
      operationId: listPayments
      parameters:
      - description: "How many objects to return, 1–100. Values above the ceiling are clamped to it rather than rejected, so a client asking for more simply receives the maximum. Defaults to 25."
        in: query
        name: limit
        required: false
        schema:
          type: integer
          format: int32
      - description: A cursor for pagination. Pass the `nextCursor` from the previous response to fetch the following page. The value is opaque and signed — treat it as a token and never parse or construct one.
        in: query
        name: starting_after
        required: false
        schema:
          type: string
      - description: Return only payments in this state. Must be one of the statuses this revision defines — a typo is a `400` naming the vocabulary rather than an empty page you then have to explain to yourself.
        example: authorized
        in: query
        name: status
        required: false
        schema:
          type: string
      - description: Return only payments in this ISO 4217 currency.
        example: USD
        in: query
        name: currency
        required: false
        schema:
          type: string
      - description: "Return only payments of at least this amount, in minor units."
        example: 1000
        in: query
        name: amount_min
        required: false
        schema:
          type: integer
          format: int64
      - description: "Return only payments of at most this amount, in minor units."
        example: 100000
        in: query
        name: amount_max
        required: false
        schema:
          type: integer
          format: int64
      - description: "Return only objects created at or after this instant, as RFC 3339 (`2026-07-29T00:00:00Z`)."
        in: query
        name: created_after
        required: false
        schema:
          type: string
          format: date-time
      - description: "Return only objects created at or before this instant, as RFC 3339 (`2026-07-29T23:59:59Z`)."
        in: query
        name: created_before
        required: false
        schema:
          type: string
          format: date-time
      - description: "Ask for related objects to be included inline. The only expandable relation on this resource is `refunds`. A relation this revision does not have is ignored rather than rejected, so an SDK written against a later version still works here."
        example: refunds
        in: query
        name: expand
        required: false
        schema:
          type: string
      - description: "Filter by metadata, spelled `metadata[key]=value` and repeatable. Matching is containment and every named key must match: `?metadata[orderId]=A-1234&metadata[channel]=web` returns only objects carrying both. A key nothing carries selects nothing rather than everything."
        explode: true
        in: query
        name: metadata
        schema:
          type: object
          additionalProperties: true
        style: deepObject
      - description: "Pin this one request to a dated API revision. Overrides the revision your account is pinned to; omit it to use that pin, or the current revision if you have none. An unrecognised value is rejected with `400 UNSUPPORTED_API_VERSION` rather than silently ignored."
        in: header
        name: PaymentFlow-Version
        required: false
        schema:
          type: string
          example: 2026-08-01
      - description: "Your own identifier for this operation, echoed back on the response and recorded on every log line it produces. Send one to join your logs to PaymentFlow's; omit it and one is generated for you."
        in: header
        name: X-Correlation-Id
        required: false
        schema:
          type: string
          format: uuid
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CursorPagePaymentResponse"
          description: "A page of payments, most recent first."
          headers:
            Deprecation:
              $ref: "#/components/headers/Deprecation"
            Link:
              $ref: "#/components/headers/Link"
            PaymentFlow-Version:
              $ref: "#/components/headers/PaymentFlow-Version"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
            Sunset:
              $ref: "#/components/headers/Sunset"
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "The query could not be understood: a tampered or malformed `starting_after` cursor, a `limit` that is not positive, or a filter value outside the vocabulary this endpoint accepts. A rejected filter is deliberately an error rather than an empty page — an empty page is something you would then have to explain to yourself."
          headers:
            Deprecation:
              $ref: "#/components/headers/Deprecation"
            Link:
              $ref: "#/components/headers/Link"
            PaymentFlow-Version:
              $ref: "#/components/headers/PaymentFlow-Version"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
            Sunset:
              $ref: "#/components/headers/Sunset"
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "401":
          content:
            application/json:
              example:
                code: UNAUTHORIZED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#unauthorized
                message: Authentication is required or has failed.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 401
                timestamp: 2026-07-28T12:34:56.789Z
                type: authentication_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Authentication is required or has failed.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "403":
          content:
            application/json:
              example:
                code: INSUFFICIENT_SCOPE
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#insufficient_scope
                message: This API key does not have the required scope for this endpoint.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 403
                timestamp: 2026-07-28T12:34:56.789Z
                type: permission_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: This API key does not have the required scope for this endpoint.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "429":
          content:
            application/json:
              example:
                code: RATE_LIMIT_EXCEEDED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#rate_limit_exceeded
                message: Too many requests. Slow down and retry after the interval in the Retry-After header.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 429
                timestamp: 2026-07-28T12:34:56.789Z
                type: rate_limit_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Too many requests. Slow down and retry after the interval in the Retry-After header.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
            Retry-After:
              $ref: "#/components/headers/Retry-After"
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "500":
          content:
            application/json:
              example:
                code: INTERNAL_ERROR
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#internal_error
                message: An unexpected error occurred.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 500
                timestamp: 2026-07-28T12:34:56.789Z
                type: api_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: An unexpected error occurred.
          headers:
            Deprecation:
              $ref: "#/components/headers/Deprecation"
            Link:
              $ref: "#/components/headers/Link"
            PaymentFlow-Version:
              $ref: "#/components/headers/PaymentFlow-Version"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
            Sunset:
              $ref: "#/components/headers/Sunset"
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
      summary: List payments
      tags:
      - Payments
    post:
      description: |-
        Creates a payment in the `created` state. Nothing is charged yet — creating a payment reserves an intent to charge, and authorization is a separate call, so a client can build the object before it has a payment method to authorize against.

        The `mode` of the resulting payment comes from your API key: an `sk_test_` key creates test payments, an `sk_live_` key live ones. Nothing in this request can change that.
      operationId: createPayment
      parameters:
      - description: A unique key that makes this request safe to retry. **Required on every mutating request.** Replaying the same key returns the original response instead of performing the operation twice; a second request arriving while the first is still in flight fails fast with `409 IDEMPOTENCY_CONFLICT`. Use a fresh UUID per logical operation.
        in: header
        name: Idempotency-Key
        required: true
        schema:
          type: string
      - description: "Pin this one request to a dated API revision. Overrides the revision your account is pinned to; omit it to use that pin, or the current revision if you have none. An unrecognised value is rejected with `400 UNSUPPORTED_API_VERSION` rather than silently ignored."
        in: header
        name: PaymentFlow-Version
        required: false
        schema:
          type: string
          example: 2026-08-01
      - description: "Your own identifier for this operation, echoed back on the response and recorded on every log line it produces. Send one to join your logs to PaymentFlow's; omit it and one is generated for you."
        in: header
        name: X-Correlation-Id
        required: false
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePaymentRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentResponse"
          description: The payment was created.
          headers:
            Deprecation:
              $ref: "#/components/headers/Deprecation"
            Link:
              $ref: "#/components/headers/Link"
            PaymentFlow-Version:
              $ref: "#/components/headers/PaymentFlow-Version"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
            Sunset:
              $ref: "#/components/headers/Sunset"
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: The request body failed validation. `errors` names every field that failed; the rejected values are deliberately not echoed back.
          headers:
            Deprecation:
              $ref: "#/components/headers/Deprecation"
            Link:
              $ref: "#/components/headers/Link"
            PaymentFlow-Version:
              $ref: "#/components/headers/PaymentFlow-Version"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
            Sunset:
              $ref: "#/components/headers/Sunset"
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "401":
          content:
            application/json:
              example:
                code: UNAUTHORIZED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#unauthorized
                message: Authentication is required or has failed.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 401
                timestamp: 2026-07-28T12:34:56.789Z
                type: authentication_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Authentication is required or has failed.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "403":
          content:
            application/json:
              example:
                code: INSUFFICIENT_SCOPE
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#insufficient_scope
                message: This API key does not have the required scope for this endpoint.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 403
                timestamp: 2026-07-28T12:34:56.789Z
                type: permission_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: This API key does not have the required scope for this endpoint.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Another request with the same `Idempotency-Key` is still in flight. Distinct from `CONFLICT` precisely because it is retryable — wait and send it again.
          headers:
            Deprecation:
              $ref: "#/components/headers/Deprecation"
            Link:
              $ref: "#/components/headers/Link"
            PaymentFlow-Version:
              $ref: "#/components/headers/PaymentFlow-Version"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
            Sunset:
              $ref: "#/components/headers/Sunset"
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "429":
          content:
            application/json:
              example:
                code: RATE_LIMIT_EXCEEDED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#rate_limit_exceeded
                message: Too many requests. Slow down and retry after the interval in the Retry-After header.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 429
                timestamp: 2026-07-28T12:34:56.789Z
                type: rate_limit_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Too many requests. Slow down and retry after the interval in the Retry-After header.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
            Retry-After:
              $ref: "#/components/headers/Retry-After"
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "500":
          content:
            application/json:
              example:
                code: INTERNAL_ERROR
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#internal_error
                message: An unexpected error occurred.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 500
                timestamp: 2026-07-28T12:34:56.789Z
                type: api_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: An unexpected error occurred.
          headers:
            Deprecation:
              $ref: "#/components/headers/Deprecation"
            Link:
              $ref: "#/components/headers/Link"
            PaymentFlow-Version:
              $ref: "#/components/headers/PaymentFlow-Version"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
            Sunset:
              $ref: "#/components/headers/Sunset"
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
      summary: Create a payment
      tags:
      - Payments
  /v1/payments/{id}:
    get:
      description: "Returns one payment by id, including how much of it has been captured and refunded so far. Add `?expand=refunds` to receive the individual refunds inline instead of fetching them separately."
      operationId: getPayment
      parameters:
      - description: The payment to retrieve.
        in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
      - description: "Ask for related objects to be included inline. The only expandable relation on this resource is `refunds`. A relation this revision does not have is ignored rather than rejected, so an SDK written against a later version still works here."
        example: refunds
        in: query
        name: expand
        required: false
        schema:
          type: string
      - description: "Pin this one request to a dated API revision. Overrides the revision your account is pinned to; omit it to use that pin, or the current revision if you have none. An unrecognised value is rejected with `400 UNSUPPORTED_API_VERSION` rather than silently ignored."
        in: header
        name: PaymentFlow-Version
        required: false
        schema:
          type: string
          example: 2026-08-01
      - description: "Your own identifier for this operation, echoed back on the response and recorded on every log line it produces. Send one to join your logs to PaymentFlow's; omit it and one is generated for you."
        in: header
        name: X-Correlation-Id
        required: false
        schema:
          type: string
          format: uuid
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentResponse"
          description: The payment.
          headers:
            Deprecation:
              $ref: "#/components/headers/Deprecation"
            Link:
              $ref: "#/components/headers/Link"
            PaymentFlow-Version:
              $ref: "#/components/headers/PaymentFlow-Version"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
            Sunset:
              $ref: "#/components/headers/Sunset"
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "401":
          content:
            application/json:
              example:
                code: UNAUTHORIZED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#unauthorized
                message: Authentication is required or has failed.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 401
                timestamp: 2026-07-28T12:34:56.789Z
                type: authentication_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Authentication is required or has failed.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "403":
          content:
            application/json:
              example:
                code: INSUFFICIENT_SCOPE
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#insufficient_scope
                message: This API key does not have the required scope for this endpoint.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 403
                timestamp: 2026-07-28T12:34:56.789Z
                type: permission_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: This API key does not have the required scope for this endpoint.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "No such payment. Also returned when the payment exists but belongs to another merchant, or to the other mode — never `403`, because a `403` would confirm that it exists."
          headers:
            Deprecation:
              $ref: "#/components/headers/Deprecation"
            Link:
              $ref: "#/components/headers/Link"
            PaymentFlow-Version:
              $ref: "#/components/headers/PaymentFlow-Version"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
            Sunset:
              $ref: "#/components/headers/Sunset"
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "429":
          content:
            application/json:
              example:
                code: RATE_LIMIT_EXCEEDED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#rate_limit_exceeded
                message: Too many requests. Slow down and retry after the interval in the Retry-After header.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 429
                timestamp: 2026-07-28T12:34:56.789Z
                type: rate_limit_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Too many requests. Slow down and retry after the interval in the Retry-After header.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
            Retry-After:
              $ref: "#/components/headers/Retry-After"
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "500":
          content:
            application/json:
              example:
                code: INTERNAL_ERROR
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#internal_error
                message: An unexpected error occurred.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 500
                timestamp: 2026-07-28T12:34:56.789Z
                type: api_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: An unexpected error occurred.
          headers:
            Deprecation:
              $ref: "#/components/headers/Deprecation"
            Link:
              $ref: "#/components/headers/Link"
            PaymentFlow-Version:
              $ref: "#/components/headers/PaymentFlow-Version"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
            Sunset:
              $ref: "#/components/headers/Sunset"
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
      summary: Retrieve a payment
      tags:
      - Payments
  /v1/payments/{id}/authorize:
    post:
      description: |-
        Places a hold on the customer's funds for the payment's full amount, moving it to `authorized`. No money moves until you capture.

        In test mode the outcome is decided by the `paymentMethodToken` the payment carries — see `GET /v1/test/cards` for the tokens that approve, decline, or fail — so every branch of your integration is reachable on demand rather than by chance.
      operationId: authorizePayment
      parameters:
      - description: The payment to authorize.
        in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
      - description: A unique key that makes this request safe to retry. **Required on every mutating request.** Replaying the same key returns the original response instead of performing the operation twice; a second request arriving while the first is still in flight fails fast with `409 IDEMPOTENCY_CONFLICT`. Use a fresh UUID per logical operation.
        in: header
        name: Idempotency-Key
        required: true
        schema:
          type: string
      - description: "Pin this one request to a dated API revision. Overrides the revision your account is pinned to; omit it to use that pin, or the current revision if you have none. An unrecognised value is rejected with `400 UNSUPPORTED_API_VERSION` rather than silently ignored."
        in: header
        name: PaymentFlow-Version
        required: false
        schema:
          type: string
          example: 2026-08-01
      - description: "Your own identifier for this operation, echoed back on the response and recorded on every log line it produces. Send one to join your logs to PaymentFlow's; omit it and one is generated for you."
        in: header
        name: X-Correlation-Id
        required: false
        schema:
          type: string
          format: uuid
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentResponse"
          description: "The payment was authorized, or the acquirer declined it and the payment is now `failed`."
          headers:
            Deprecation:
              $ref: "#/components/headers/Deprecation"
            Link:
              $ref: "#/components/headers/Link"
            PaymentFlow-Version:
              $ref: "#/components/headers/PaymentFlow-Version"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
            Sunset:
              $ref: "#/components/headers/Sunset"
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "401":
          content:
            application/json:
              example:
                code: UNAUTHORIZED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#unauthorized
                message: Authentication is required or has failed.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 401
                timestamp: 2026-07-28T12:34:56.789Z
                type: authentication_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Authentication is required or has failed.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "403":
          content:
            application/json:
              example:
                code: INSUFFICIENT_SCOPE
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#insufficient_scope
                message: This API key does not have the required scope for this endpoint.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 403
                timestamp: 2026-07-28T12:34:56.789Z
                type: permission_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: This API key does not have the required scope for this endpoint.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "No such payment. Also returned when the payment exists but belongs to another merchant, or to the other mode — never `403`, because a `403` would confirm that it exists."
          headers:
            Deprecation:
              $ref: "#/components/headers/Deprecation"
            Link:
              $ref: "#/components/headers/Link"
            PaymentFlow-Version:
              $ref: "#/components/headers/PaymentFlow-Version"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
            Sunset:
              $ref: "#/components/headers/Sunset"
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "The payment is not in a state where this operation is legal — capturing one that was never authorized, voiding one already captured, refunding more than remains. The `code` says which."
          headers:
            Deprecation:
              $ref: "#/components/headers/Deprecation"
            Link:
              $ref: "#/components/headers/Link"
            PaymentFlow-Version:
              $ref: "#/components/headers/PaymentFlow-Version"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
            Sunset:
              $ref: "#/components/headers/Sunset"
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "429":
          content:
            application/json:
              example:
                code: RATE_LIMIT_EXCEEDED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#rate_limit_exceeded
                message: Too many requests. Slow down and retry after the interval in the Retry-After header.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 429
                timestamp: 2026-07-28T12:34:56.789Z
                type: rate_limit_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Too many requests. Slow down and retry after the interval in the Retry-After header.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
            Retry-After:
              $ref: "#/components/headers/Retry-After"
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "500":
          content:
            application/json:
              example:
                code: INTERNAL_ERROR
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#internal_error
                message: An unexpected error occurred.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 500
                timestamp: 2026-07-28T12:34:56.789Z
                type: api_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: An unexpected error occurred.
          headers:
            Deprecation:
              $ref: "#/components/headers/Deprecation"
            Link:
              $ref: "#/components/headers/Link"
            PaymentFlow-Version:
              $ref: "#/components/headers/PaymentFlow-Version"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
            Sunset:
              $ref: "#/components/headers/Sunset"
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
      summary: Authorize a payment
      tags:
      - Payments
  /v1/payments/{id}/capture:
    post:
      description: |-
        Moves the authorized funds, settling the payment. Capture is all-or-nothing here: the full authorized amount is taken, and a capture can never exceed the authorization it settles.

        Capturing an already-captured payment is a `409` rather than a silent success — if you need retry safety, send an `Idempotency-Key` and replay the same one.
      operationId: capturePayment
      parameters:
      - description: The payment to capture.
        in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
      - description: A unique key that makes this request safe to retry. **Required on every mutating request.** Replaying the same key returns the original response instead of performing the operation twice; a second request arriving while the first is still in flight fails fast with `409 IDEMPOTENCY_CONFLICT`. Use a fresh UUID per logical operation.
        in: header
        name: Idempotency-Key
        required: true
        schema:
          type: string
      - description: "Pin this one request to a dated API revision. Overrides the revision your account is pinned to; omit it to use that pin, or the current revision if you have none. An unrecognised value is rejected with `400 UNSUPPORTED_API_VERSION` rather than silently ignored."
        in: header
        name: PaymentFlow-Version
        required: false
        schema:
          type: string
          example: 2026-08-01
      - description: "Your own identifier for this operation, echoed back on the response and recorded on every log line it produces. Send one to join your logs to PaymentFlow's; omit it and one is generated for you."
        in: header
        name: X-Correlation-Id
        required: false
        schema:
          type: string
          format: uuid
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentResponse"
          description: The payment was captured.
          headers:
            Deprecation:
              $ref: "#/components/headers/Deprecation"
            Link:
              $ref: "#/components/headers/Link"
            PaymentFlow-Version:
              $ref: "#/components/headers/PaymentFlow-Version"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
            Sunset:
              $ref: "#/components/headers/Sunset"
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "401":
          content:
            application/json:
              example:
                code: UNAUTHORIZED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#unauthorized
                message: Authentication is required or has failed.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 401
                timestamp: 2026-07-28T12:34:56.789Z
                type: authentication_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Authentication is required or has failed.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "403":
          content:
            application/json:
              example:
                code: INSUFFICIENT_SCOPE
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#insufficient_scope
                message: This API key does not have the required scope for this endpoint.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 403
                timestamp: 2026-07-28T12:34:56.789Z
                type: permission_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: This API key does not have the required scope for this endpoint.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "No such payment. Also returned when the payment exists but belongs to another merchant, or to the other mode — never `403`, because a `403` would confirm that it exists."
          headers:
            Deprecation:
              $ref: "#/components/headers/Deprecation"
            Link:
              $ref: "#/components/headers/Link"
            PaymentFlow-Version:
              $ref: "#/components/headers/PaymentFlow-Version"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
            Sunset:
              $ref: "#/components/headers/Sunset"
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "The payment is not in a state where this operation is legal — capturing one that was never authorized, voiding one already captured, refunding more than remains. The `code` says which."
          headers:
            Deprecation:
              $ref: "#/components/headers/Deprecation"
            Link:
              $ref: "#/components/headers/Link"
            PaymentFlow-Version:
              $ref: "#/components/headers/PaymentFlow-Version"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
            Sunset:
              $ref: "#/components/headers/Sunset"
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "429":
          content:
            application/json:
              example:
                code: RATE_LIMIT_EXCEEDED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#rate_limit_exceeded
                message: Too many requests. Slow down and retry after the interval in the Retry-After header.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 429
                timestamp: 2026-07-28T12:34:56.789Z
                type: rate_limit_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Too many requests. Slow down and retry after the interval in the Retry-After header.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
            Retry-After:
              $ref: "#/components/headers/Retry-After"
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "500":
          content:
            application/json:
              example:
                code: INTERNAL_ERROR
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#internal_error
                message: An unexpected error occurred.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 500
                timestamp: 2026-07-28T12:34:56.789Z
                type: api_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: An unexpected error occurred.
          headers:
            Deprecation:
              $ref: "#/components/headers/Deprecation"
            Link:
              $ref: "#/components/headers/Link"
            PaymentFlow-Version:
              $ref: "#/components/headers/PaymentFlow-Version"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
            Sunset:
              $ref: "#/components/headers/Sunset"
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
      summary: Capture an authorized payment
      tags:
      - Payments
  /v1/payments/{id}/refund:
    post:
      description: |-
        Returns captured funds to the customer, in full or in part. Send no body to refund everything that remains.

        Refunds are first-class objects with their own ids — this call returns the updated **payment**, and the refund it created is readable at `GET /v1/refunds` or inline via `GET /v1/payments/{id}?expand=refunds`. Partial refunds accumulate: `refundedAmountMinor` can never exceed `capturedAmountMinor`.
      operationId: refundPayment
      parameters:
      - description: The payment to refund.
        in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
      - description: A unique key that makes this request safe to retry. **Required on every mutating request.** Replaying the same key returns the original response instead of performing the operation twice; a second request arriving while the first is still in flight fails fast with `409 IDEMPOTENCY_CONFLICT`. Use a fresh UUID per logical operation.
        in: header
        name: Idempotency-Key
        required: true
        schema:
          type: string
      - description: "Pin this one request to a dated API revision. Overrides the revision your account is pinned to; omit it to use that pin, or the current revision if you have none. An unrecognised value is rejected with `400 UNSUPPORTED_API_VERSION` rather than silently ignored."
        in: header
        name: PaymentFlow-Version
        required: false
        schema:
          type: string
          example: 2026-08-01
      - description: "Your own identifier for this operation, echoed back on the response and recorded on every log line it produces. Send one to join your logs to PaymentFlow's; omit it and one is generated for you."
        in: header
        name: X-Correlation-Id
        required: false
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefundRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentResponse"
          description: The refund was issued; the payment is returned with its updated `refundedAmountMinor`.
          headers:
            Deprecation:
              $ref: "#/components/headers/Deprecation"
            Link:
              $ref: "#/components/headers/Link"
            PaymentFlow-Version:
              $ref: "#/components/headers/PaymentFlow-Version"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
            Sunset:
              $ref: "#/components/headers/Sunset"
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: The request body failed validation. `errors` names every field that failed; the rejected values are deliberately not echoed back.
          headers:
            Deprecation:
              $ref: "#/components/headers/Deprecation"
            Link:
              $ref: "#/components/headers/Link"
            PaymentFlow-Version:
              $ref: "#/components/headers/PaymentFlow-Version"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
            Sunset:
              $ref: "#/components/headers/Sunset"
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "401":
          content:
            application/json:
              example:
                code: UNAUTHORIZED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#unauthorized
                message: Authentication is required or has failed.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 401
                timestamp: 2026-07-28T12:34:56.789Z
                type: authentication_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Authentication is required or has failed.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "403":
          content:
            application/json:
              example:
                code: INSUFFICIENT_SCOPE
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#insufficient_scope
                message: This API key does not have the required scope for this endpoint.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 403
                timestamp: 2026-07-28T12:34:56.789Z
                type: permission_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: This API key does not have the required scope for this endpoint.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "No such payment. Also returned when the payment exists but belongs to another merchant, or to the other mode — never `403`, because a `403` would confirm that it exists."
          headers:
            Deprecation:
              $ref: "#/components/headers/Deprecation"
            Link:
              $ref: "#/components/headers/Link"
            PaymentFlow-Version:
              $ref: "#/components/headers/PaymentFlow-Version"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
            Sunset:
              $ref: "#/components/headers/Sunset"
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "The payment is not in a state where this operation is legal — capturing one that was never authorized, voiding one already captured, refunding more than remains. The `code` says which."
          headers:
            Deprecation:
              $ref: "#/components/headers/Deprecation"
            Link:
              $ref: "#/components/headers/Link"
            PaymentFlow-Version:
              $ref: "#/components/headers/PaymentFlow-Version"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
            Sunset:
              $ref: "#/components/headers/Sunset"
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "429":
          content:
            application/json:
              example:
                code: RATE_LIMIT_EXCEEDED
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#rate_limit_exceeded
                message: Too many requests. Slow down and retry after the interval in the Retry-After header.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 429
                timestamp: 2026-07-28T12:34:56.789Z
                type: rate_limit_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Too many requests. Slow down and retry after the interval in the Retry-After header.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
            Retry-After:
              $ref: "#/components/headers/Retry-After"
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
        "500":
          content:
            application/json:
              example:
                code: INTERNAL_ERROR
                correlationId: 3f9a1c2e-77b4-4a1d-9c3e-1d2b4f6a8c05
                docUrl: https://docs.paymentflow.dev/errors#internal_error
                message: An unexpected error occurred.
                path: /v1/payments
                requestId: req_9f2c1e7a4b8d
                status: 500
                timestamp: 2026-07-28T12:34:56.789Z
                type: api_error
              schema:
                $ref: "#/components/schemas/ApiError"
          description: An unexpected error occurred.
          headers:
            Deprecation:
              $ref: "#/components/headers/Deprecation"
            Link:
              $ref: "#/components/headers/Link"
            PaymentFlow-Version:
              $ref: "#/components/headers/PaymentFlow-Version"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
            Sunset:
              $ref: "#/components/headers/Sunset"
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
      summary: Refund a captured payment
      tags:
      - Payments
  /v1/payments/{id}/void:
    post:
      description: "Releases an authorization without taking the money, moving the payment to `voided`. This is the counterpart to capture, not to refund: void applies before funds have moved, refund after. A captured payment cannot be voided — refund it instead."
      operationId: voidPayment
      parameters:
      - description: The payment to void.
        in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
      - description: A unique key that makes this request safe to retry. **Required on every mutating request.** Replaying the same key returns the original response instead of performing the operation twice; a second request arriving while the first is still in flight fails fast with `409 IDEMPOTENCY_CONFLICT`. Use a fresh UUID per logical operation.
        in: header
        name: Idempotency-Key
        required: true
        schema:
          type: string
      - description: "Pin this one request to a dated API revision. Overrides the revision your account is pinned to; omit it to use that pin, or the current revision if you have none. An unrecognised value is rejected with `400 UNSUPPORTED_API_VERSION` rather than silently ignored."
        in: header
        name: PaymentFlow-Version
        required: false
        schema:
          type: string
          example: 2026-08-01
      - description: "Your own identifier for this operation, echoed back on the response and recorded on every log line it produces. Send one to join your logs to PaymentFlow's; omit it and one is generated for you."
        in: header
        name: X-Correlation-Id
        required: false
        schema:
          type: string
          format: uuid
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentResponse"
          description: The authorization was released.
          headers:
            Deprecation:
              $ref: "#/components/headers/Deprecation"
            Link:
              $ref: "#/components/headers/Link"
            PaymentFlow-Version:
              $ref: "#/components/headers/PaymentFlow-Version"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
[...]
